/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Source Sans Pro", sans-serif;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  height: 3.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.75em 1.5em;
}

.logo {
  height: 1.6em;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 1.88em;
}

li {
  text-transform: uppercase;
  font-size: 0.75rem;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  flex: 1; /* This will push the footer to the bottom */
}

/* Hero Section */
.hero {
  background-image: url("../images/article-image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20em;
  color: #ffffff;
  padding: 5em 0.5em 1em 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.hero-date,
.hero-title,
.hero-p {
  color: #ffffff;
}

.hero-date {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  padding-left: 2em;
}

.hero-title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0.5em 0.5em;
  padding-left: 0.25em;
}

.hero-p {
  font-size: 1rem;
  padding-left: 1.5em;
}

/* Main Content */

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75em, 1fr));
  gap: 0.5em;
}

article {
  text-align: left;
}

.article-img {
  width: 100%;
  object-fit: cover;
  gap: 1.5em;
  padding: 1.5em 1.5em 0.5em 1.5em;
}

.article-date {
  font-size: 0.875rem;
  color: #000000;
  text-transform: uppercase;
}

.article-title {
  font-size: 1.5rem;
  color: #141414;
  margin: 0;
  padding: 0 1em;
}

.article-preview {
  color: #505050;
  margin-bottom: 0.5em;
}

.article-image {
  width: 400px;
  height: 12.5em;
  object-fit: cover;
  padding: 1.25em;
}

.image {
  width: 11.38em;
  padding: 0 1.56em;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -1px;
  padding: 0 1.56em;
  margin: 0;
  color: #151515;
}

p {
  font-size: 1rem;
  font-weight: 400;
  padding: 0 1.56em;
  color: #151515;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  padding: 0 1.56em;
  color: #151515;
}

/* Footer */

footer {
  height: 8.5em;
  background-color: #202020;
  color: #d7d7d7;
  text-align: center;
  font-size: 0.75rem;
  padding: 3em;
}

h3 {
  font-size: 0.75rem;
  font-weight: 700px;
  /* padding-top: 3em; */
  margin: 0;
}

.copyright {
  font-size: 0.75rem;
  margin: 0;
  color: #d7d7d7;
}

@media (min-width: 1024px) {
  .posts-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
